<!--header -->
<header>
  <h1>KNIGHT OF CHALLENGE</h1>
</header>
<!--header -->

<!-- <div *ngFor="let knight of list"> -->
<!--  If true then is Hero -->
<!-- <div *ngIf="knight.status === false">
    <div class="listKnight">
      <div class="row">
        <div class="col-sm">
         {{name }}
          <div class="row">
            <div class="col-sm">
                {{knight.name }}
            </div>
          </div>
        </div>
        <div class="col-sm">
          {{age }}
          <div class="row">
            <div class="col-sm">
             {{knight.birthday | date: 'dd/MM/yyyy'}}
            </div>
          </div>
        </div>
        <div class="col-sm">
          {{weapons }}
          <div class="row">
            <div class="col-sm">
              <div *ngFor="let weapon of knight.weapons">{{weapon.name }},
                amount: {{weapon.amount }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          {{attribute }}
          <div class="row">
            <div class="col-sm">
              {{knight.keyAttribute }}
            </div>
          </div>
        </div>
        <div class="col-sm">
          {{Attr }}
        </div>
        <div class="col-sm"> {{Exp }}
          {{knight._id}}
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="card-header">
  <div class="float-left">
    <h4>Knights</h4>
  </div>

</div>
<div class="class-body">
  <table class="table table-hover">
    <thead>
      <tr class="float-left">
        <th>#</th>
        <th>{{name}}</th>
        <th>{{age}}</th>
        <th>{{weapons}}</th>
        <th>{{attribute}}</th>
        <th>{{atkP}}</th>
        <th>{{exp}}</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let knight of knights let id = index">
        <!--  If false then just Knight -->
        <div *ngIf="knight.status === false">

          <td class="tdId">{{id}}</td>
          <td class="tdName">{{knight.name}}</td>
          <td class="tdAge">{{ fixAge( knight.birthday |  amDateFormat: 'YYYY'|   amDifference: today: 'years' ) }} Years</td>

          <td class="tdAmount" *ngFor="let weapon of knight.weapons; let c = count; let l = last">
            <div class="td5" *ngIf="l === true">
              {{c}}
            </div>
          </td>

          <td class="tdKey">{{knight.keyAttribute}}</td>
          <td class="tdAttr" *ngFor="let weapon of knight.weapons">{{attr(weapon.mod)}}</td>
          <td class="tdExp">{{getExp(exp)}}</td>


          <td>
            <div class=" formButtons form row float-right">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" class="form-control" id="newNickName" placeholder="New Nickname"  [(ngModel)]="newNickName" name="newNickName">

                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(knight)">
                    Submmit
                  </button>
                </div>
                <div class="col-md-5">
                  <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onDelete(knight)">
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </td>
        </div>
      </tr>
    </tbody>
  </table>
</div>
