<!--header -->
<header>
  <h1>KNIGHT OF CHALLENGE</h1>
</header>
<!--header -->

<div *ngFor="let knight of list">
  <!--  If false then off hero -->

  <div *ngIf="knight.status === false">
    <div class="listKnight">
      <div class="row">
        <div class="col-sm">
         {{name | uppercase}}
          <div class="row">
            <div class="col-sm">
                {{knight.name | uppercase}}
            </div>
          </div>
        </div>
        <div class="col-sm">
          {{age | uppercase}}
          <div class="row">
            <div class="col-sm">
             {{knight.birthday | date: 'dd/MM/yyyy'}}
            </div>
          </div>
        </div>
        <div class="col-sm">
          {{weapons | uppercase}}
          <div class="row">
            <div class="col-sm">
              <div *ngFor="let weapon of knight.weapons">{{weapon.name | uppercase}},
                amount: {{weapon.amount }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          {{attribute | uppercase}}
          <div class="row">
            <div class="col-sm">
              {{knight.keyAttribute | uppercase}}
            </div>
          </div>
        </div>
        <div class="col-sm">
          {{Attr | uppercase}}
        </div>
        <div class="col-sm"> {{Exp | uppercase}}
          {{knight._id}}
        </div>
      </div>
    </div>
  </div>
</div>
