.wrapper {
  background-color:  rgb(60, 60, 255);
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h1,h2,h3,h4,h5 {
  text-align: center;

}
.a {
  background-color: rgb(252, 252, 252);
  border: 3px;
  border-style: solid;

}

.b {
  background-color: rgb(255, 255, 255);

}

.c {
  background-color: rgb(252, 252, 252);
  border: 3px;
  border-style: solid;
}


ul, li {
  list-style:outside none none;
}

th,td {
  border-style: solid;
}

table {
  display: block;
  position: relative;

  width: 100% !important;margin: auto;
}


  th,td, tr, thead,tbody {
    display: block;
  }

