<!--header -->
<header>
    <h1>KNIGHT OF CHALLENGE</h1>
</header>
<!--header -->
<div *ngFor="let knight of list">
    <!--  If false then off hero -->
    <div *ngIf="knight.status === false">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Weapons</th>
            <th>Attribute</th>
            <th>Attr</th>
            <th>Exp</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{knight.name | uppercase}}</td>
            <td>{{knight.birthday | date: 'dd/MM/yyyy'}}</td>
            <td *ngFor="let weapons of knight.weapons">{{weapons.name | uppercase}}</td>
            <td> {{knight.keyAttribute}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
