ul, li {
  list-style:outside none none;
}

header {
  border: 5px;
  border-style: solid;
  border-color: rgb(214, 218, 25);
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: rgb(214, 218, 25);
}
